<div align="right">Python [conda env:PY27_rtclone]</div>
<div align="right">Python [conda env:PY36_clone]</div>

# Working with Pandas DataFrames

This notebook was created in Python 2.7 and cross-tested in Python 3.6.  Code should work in both versions.  It explores basic syntax of working with Pandas Dataframes.  Some useful functions and one line snippets to know:
- `DataFrame(data={key1:[data, data2], key2:[d, d2]}, columns=["col1", "col2"], index=indexVar, dtype=int64)`
- `data_df.astype(dtype= {"wheel_number":"int64", "car_name":"object","minutes_spent":"float64"})`
- `as.dataframe(df_data)`

## TOC
- [Building a Simple DataFrame](#bld1)
  - [from a Dictionary](#dixndf)
  - [Create Empty and Add Rows One by One](#lbldf)
  - [Setting dtypes on Each Column of DF](#setDtype1)<br/><br/>
- [Displaying Dataframe with nice Notebook Formatting](#display1)<br/><br/>
- [Indexing and Selecting Dataframe Slices](#indx)<br/><br/>
- [More Help on DFs on The Web](#resources)<br/><br/>

In [1]:
# libraries used throughout this notebook
import pandas as pd
import numpy as np

<a id="bld1" name="bld1"></a>
## Building a Simple DataFrame

<a id="dixndf" name="dixndf"></a>
### Create DF from Dictionary

In [2]:
# create a dictionary
stateData = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'], \
        'year': [2000, 2001, 2002, 2001, 2002],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}
# convert to DataFrame
df_stdt = pd.DataFrame(stateData)
df_stdt

   pop   state  year
0  1.5    Ohio  2000
1  1.7    Ohio  2001
2  3.6    Ohio  2002
3  2.4  Nevada  2001
4  2.9  Nevada  2002

In [3]:
print("Index:  %s" %df_stdt.index)
print("Values:  \n%s" %df_stdt.values)
print("Columns: %s" %df_stdt.columns)
print("dataframe.describe():")
df_stdt.describe()

Index:  RangeIndex(start=0, stop=5, step=1)
Values:
[[1.5 'Ohio' 2000]
 [1.7 'Ohio' 2001]
 [3.6 'Ohio' 2002]
 [2.4 'Nevada' 2001]
 [2.9 'Nevada' 2002]]
Columns: Index(['pop', 'state', 'year'], dtype='object')
dataframe.describe():

            pop        year
count  5.000000     5.00000
mean   2.420000  2001.20000
std    0.864292     0.83666
min    1.500000  2000.00000
25%    1.700000  2001.00000
50%    2.400000  2001.00000
75%    2.900000  2002.00000
max    3.600000  2002.00000

<a id="lbldf" name="lbldf"></a>
### Create Empty DF And Add Rows One At A Time
A common scenario in code:  a loop or function call needs to add a row to a dataframe but first you need a blank one.  This code may come in handy as that scenario comes up.

In [4]:
solutionPD = pd.DataFrame({ 'disk':[],'fromPeg':[], 'toPeg':[]}, dtype=np.int64 ) 
solutionPD = solutionPD.append(pd.DataFrame({ 'disk':[5],'fromPeg':[1], 'toPeg':[3]}), ignore_index=True)
solutionPD = solutionPD.append(pd.DataFrame({ 'disk':[4],'fromPeg':[1], 'toPeg':[2] }), ignore_index=True)
print("disk column type: %s" %type(solutionPD['disk'][0]))
solutionPD

disk column type: <class 'numpy.int64'>

   disk  fromPeg  toPeg
0     5        1      3
1     4        1      2

<a id="setDtype1" name="setDtype1"></a>
#### Setting Data Types on Columns
Read comments as well as code in cells which follow:

In [5]:
# Recommended:  To set dtype for all columns, build the Dataframe, 
# and then use astype() to set the columns as shown here

# though online help topics indicate it should be possible to pass in a dictionary or list of tuples
# to set all the datatypes initially, under Python 2.7, this does not seem to work.
# came closest with this sample:
#   solutionPD2 = pd.DataFrame({ 'disk':[],'fromPeg':[], 'toPeg':[], 'text':[], 'notes':[]}, 
#                            dtype=[('disk', 'int64'), ('fromPeg', 'int64' ), ('toPeg', 'float64'), 
#                                   ('text', 'str'), ('notes', 'object')] ) 
# Related links:
#    http://stackoverflow.com/questions/21197774/assign-pandas-dataframe-column-dtypes
#    http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.append.html

solutionPD2 = pd.DataFrame({ 'disk':[],'fromPeg':[], 'toPeg':[], 'notes':[], 'text':[]}, dtype=np.int64) 
solutionPD2 = solutionPD2.astype({ 'disk':'int64','fromPeg':'float64', 'toPeg':'float64', 'notes':'object', 
                                   'text':'str'})

solutionPD2 = solutionPD2.append(pd.DataFrame({ 'disk':[5],'fromPeg':[1], 'toPeg':[3], 
                                                'notes':'hello', 'text':'more text' }), ignore_index=True)
solutionPD2 = solutionPD2.append(pd.DataFrame({ 'disk':[4],'fromPeg':[1], 'toPeg':[2], 
                                                'notes':'good bye', 'text':'even more text'}), ignore_index=True)

# print("disk column type: %s" %type(solutionPD['disk'][0]))
print(solutionPD2.dtypes)
solutionPD2

disk         int64
fromPeg    float64
notes       object
text        object
toPeg      float64
dtype: object

   disk  fromPeg     notes            text  toPeg
0     5      1.0     hello       more text    3.0
1     4      1.0  good bye  even more text    2.0

In [9]:
# disk is currently an int
# we will convert this numeric column to text here
solutionPD2.disk = solutionPD2.disk.astype('str')
print(solutionPD2.dtypes)  # disk changes to 'object' which permits text

disk        object
fromPeg    float64
notes       object
text        object
toPeg      float64
dtype: object

<a id="display1" name="display1"></a>

### Displaying DataFrames in Python Notebooks
To the uninitiated, dataframes appear to display nicely in notebooks if they are the last command in a cell.  But printing them and/or outputting them from functions does not work unless you "know the trick" illustrated in this section.

#### The Problem

In [20]:
## this does not work:

def printDF(df):
    print(df)

def displayDF(df):
    df

df_stdt            # fails to output since this is not the last command in the cell
print(df_stdt)     # outputs but without the nice built-in formatting
print("="*72)
printDF(df_stdt)   # outputs without format
displayDF(df_stdt) # fails to output since it is not the last command in the dell

   pop   state  year
0  1.5    Ohio  2000
1  1.7    Ohio  2001
2  3.6    Ohio  2002
3  2.4  Nevada  2001
4  2.9  Nevada  2002
========================================================================
   pop   state  year
0  1.5    Ohio  2000
1  1.7    Ohio  2001
2  3.6    Ohio  2002
3  2.4  Nevada  2001
4  2.9  Nevada  2002

#### The Solution

A [Stack Overflow](https://stackoverflow.com/questions/26873127/show-dataframe-as-table-in-ipython-notebook) post  indicates to use the import statement that is commented out in the cell that follows.
The one that is not commented out works with the Python 3.6 Anaconda implementation tested here.

By default: this Anaconda implementation installed `ipython` and `ipython_genutils` packages.  If these are missing, they would need to be installed using `conda install <package>.`  You can use the `--dry-run` switch to test that the install is compatible with your specific package environment first.

In [19]:
## use this line if it works ... if not, try the one used at start of this code cell
## this cell tested with Anaconda / Python 3.6
# from Ipython.display import display

import ipython_genutils

def presentDF(df):
    display(df)
    
presentDF(df_stdt)  
print("="*72)
display(solutionPD)
print("="*72)
display(solutionPD2)
print("="*72)
df_stdt

   pop   state  year
0  1.5    Ohio  2000
1  1.7    Ohio  2001
2  3.6    Ohio  2002
3  2.4  Nevada  2001
4  2.9  Nevada  2002

========================================================================

   disk  fromPeg  toPeg
0     5        1      3
1     4        1      2

========================================================================

   disk  fromPeg     notes            text  toPeg
0     5      1.0     hello       more text    3.0
1     4      1.0  good bye  even more text    2.0

========================================================================

   pop   state  year
0  1.5    Ohio  2000
1  1.7    Ohio  2001
2  3.6    Ohio  2002
3  2.4  Nevada  2001
4  2.9  Nevada  2002

<a id="indx" name="indx"></a>

### Indexing for DataFrame Slices
There are some good resources on the web about this.  This list will get added to as they are discovered.

- [Tutorial: selecting dataframes](https://www.novixys.com/blog/pandas-tutorial-select-dataframe/)
- [Pandas Dataframe by Exaple](http://queirozf.com/entries/pandas-dataframe-by-example) - see the sections on selecting and indexing

<a id="resources" name="resources"></a>

### Additional Resources for Pandas Dataframes

- [Pandas Dataframe by Exaple](http://queirozf.com/entries/pandas-dataframe-by-example) - has extensive coverage of lots of pandas DF concepts
- [Pandas - apply operations to groups](https://chrisalbon.com/python/data_wrangling/pandas_apply_operations_to_groups/) - has good coverage of `groupby` and aggregate functions for DFs